<a href="https://colab.research.google.com/github/naga-sk/DataScienceTraining-Assignments/blob/main/naive_bayes/Naive_Bayes_purchase.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.naive_bayes import GaussianNB, MultinomialNB
from sklearn.metrics import accuracy_score, precision_score, confusion_matrix, classification_report

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/naga-sk/DataScienceTraining-Assignments/main/naive_bayes/purchase.csv")

In [ ]:
df.head()

       Day Discount Free Delivery Purchase
0  Holiday       No            No       No
1  Holiday       No            No       No
2  Holiday       No            No       No
3  Weekday       No            No       No
4  Weekday       No           Yes       No

In [ ]:
df.shape

(30, 4)

In [ ]:
df.describe(include='all').T

              count unique      top freq
Day              30      3  Holiday   11
Discount         30      2      Yes   20
Free Delivery    30      2      Yes   23
Purchase         30      2      Yes   24

In [ ]:
x = df.iloc[:,:-1]

In [ ]:
x.head()

       Day Discount Free Delivery
0  Holiday       No            No
1  Holiday       No            No
2  Holiday       No            No
3  Weekday       No            No
4  Weekday       No           Yes

In [ ]:
lb_make = LabelEncoder()
x['Day'] = lb_make.fit_transform(x['Day'])
x['Discount'] = lb_make.fit_transform(x['Discount'])
x['Free Delivery'] = lb_make.fit_transform(x['Free Delivery'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
x.head()

   Day  Discount  Free Delivery
0    0         0              0
1    0         0              0
2    0         0              0
3    1         0              0
4    1         0              1

In [ ]:
y = df.iloc[:,-1]

In [ ]:
y.head()

0    No
1    No
2    No
3    No
4    No
Name: Purchase, dtype: object

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=.3, random_state=1)

In [ ]:
x_train.head()

    Day  Discount  Free Delivery
22    1         1              1
23    2         1              0
4     1         0              1
2     0         0              0
25    2         1              1

In [ ]:
x_test.head()

    Day  Discount  Free Delivery
17    1         1              1
21    1         1              1
10    0         1              1
19    1         1              1
14    1         0              1

In [ ]:
y_train.head()

22    Yes
23    Yes
4      No
2      No
25    Yes
Name: Purchase, dtype: object

In [ ]:
y_test.head()

17    Yes
21    Yes
10    Yes
19    Yes
14    Yes
Name: Purchase, dtype: object

In [ ]:
x_train.value_counts()

Day  Discount  Free Delivery
0    0         0                4
     1         1                4
1    1         1                4
2    1         1                4
0    0         1                2
2    1         0                2
1    0         1                1
dtype: int64

In [ ]:
y_train.value_counts()

Yes    16
No      5
Name: Purchase, dtype: int64

In [ ]:
y_test.value_counts()

Yes    8
No     1
Name: Purchase, dtype: int64

In [ ]:
model = MultinomialNB()

In [ ]:
model.fit(x_train, y_train)

MultinomialNB()

In [ ]:
y_prod_train = model.predict(x_train)

In [ ]:
y_prod_train

array(['Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes',
       'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes',
       'Yes', 'Yes', 'Yes'], dtype='<U3')

In [ ]:
y_prod_test = model.predict(x_test)

In [ ]:
y_prod_test

array(['Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes'],
      dtype='<U3')

In [ ]:
accuracy_score(y_prod_train, y_train)

NameError: ignored

In [ ]:
precision_score(y_prod_test, y_test, pos_label='No')

0.0

In [ ]:
precision_score(y_prod_test, y_test, pos_label='Yes')

1.0

In [ ]:
accuracy_score(y_prod_test, y_test)

0.8888888888888888

In [ ]:
confusion_matrix(y_prod_train, y_train)

In [ ]:
confusion_matrix(y_prod_test, y_test)

array([[0, 0],
       [1, 8]])

In [ ]:
print(classification_report(y_prod_train, y_train))

In [ ]:
print(classification_report(y_prod_test, y_test))

In [ ]:
precis